.topobg{
    margin-top: 2px;
    background-color: blueviolet;
    width: 100vh;

}
.pt{
    color: black !important;
}
.back2{
    background-color: red !important;
}
.vd{
    background-color: green !important;
}
.pk{
    background: green;    
}