.text-decorator-none{
    text-decoration: none;
}
.az{
    background-color: darkgrey !important;
}
.pt{
    color: black !important;
}
.back2{
    background-color: red !important;
}
.vd{
    background-color: green !important;
}